.about-us-container {
  max-width: 1000px;
  width: 100%;
  text-align: justify;
  padding: 0 15px;
}

.about-us-heading {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.about-us-description {
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  text-align: center;
}

.about-us-content {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}

.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .about-us-container {
    max-width: 800px;
  }
  
  .about-us-heading {
    font-size: 28px;
  }
  
  .about-us-description,
  .about-us-content {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .about-us-container {
    max-width: 100%;
  }
  
  .about-us-heading {
    font-size: 24px;
  }
  
  .about-us-description,
  .about-us-content {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .about-us-heading {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .about-us-description {
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .about-us-content {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .plant_logo_right,
  .plant_logo_left {
    text-align: center;
  }
}